.padding-top-10 {
    padding-top: 10px;
}

.bg-number {
    background-color: #F5F5F5;
}

.bg-operator {
    background-color: #D3D3D3;
    font-weight: bold;
}

.bg-blue {
    background-color: #498CF5;
}

.bg-equal {
    background-color: #498CF5;
    color: #FFFFFF;
    font-weight: bold;
}

button {
    width: 72px;
    height: 35px;
    margin: 5px;
    border: 0;
}

input {
    width: 90%;
    height: 30px;
    text-align: right;
    padding-right: 5px;
}

.calculator {
    width: 360px;
    margin: 0 auto;
}